@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

:root {

  /* Colors*/
  --color-primary: #3b64d2;
  --color-mia: #0f7f7b;
  --color-mmi: #F5518E;
  --color-mgr: #C20000;
  --color-black: rgba(0, 0, 0, 0.5);
  --color-dark-blue: #071e55;

}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col3 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}

.gutter {
  margin: 0 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

body {
  color: #071e55;
  margin: 0;
  font-family: 'Dosis', sans-serif;

}

.bg-dark-blue {
  background-color: var(--color-dark-blue);
}


.border-top {
  border-top: 1px solid var(--color-dark-blue);
}


.main-menu {
  background-color: var(--color-primary);
  color: #fff;
}

.main-menu nav {
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3em;
}

.main-menu ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  flex-wrap: wrap;
}

.main-menu ul li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

.main-menu ul li a:hover {
  text-decoration: underline;
}

.hero {
  background-image: url("../img/hero.png");
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero h3 {
  font-size: 3.5em;
  margin-bottom: var(--space-l);
}

.hero p {
  font-size: 1.5em;

}

.section-oportunities {
  padding-top: var(--space-xxxl);
  text-align: center;
}

.mia-text {
  color: var(--color-mia);
}

.mmi-text {
  color: var(--color-mmi);
}

.mgr-text {
  color: var(--color-mgr);
}

.btn {
  width: 100%;
  height: 40px;
  color: #fff;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

a.btn:hover {
  text-decoration: none;
}

.mia-btn {
  background-color: var(--color-mia);
}

.mmi-btn {
  background-color: var(--color-mmi);
}


.mgr-btn {
  background-color: var(--color-mgr);
}

.mia-btn:hover,
.mmi-btn:hover,
.mgr-btn:hover {
  background-color: transparent;
  border: 1px solid;
}


.mia-btn:hover {
  color: var(--color-mia);
  border-color: var(--color-mia);
}

.mmi-btn:hover {
  color: var(--color-mmi);
  border-color: var(--color-mmi);
}

.mgr-btn:hover {
  color: var(--color-mgr);
  border-color: var(--color-mgr);
}

.section-quote {
  background-color: var(--color-primary);
  color: #fff;
  min-height: 350px;
  text-align: center;
  margin-top: var(--space-xxl);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.section-quote i {
  font-size: 3em;
}

.section-quote p {
  font-size: 2.2em;
  font-style: italic;
}

.author-wrapper {
  padding-right: var(--space-m);
  text-align: right;
  font-size: 0.6rem;
}


/* Privacy and Terms */
.legal {
  margin-top: 20px;

}

.legal section {
  text-align: left;
  font-size: 0.7em
}

.legal .question-box {
  padding: 10px 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  max-height: 450px;
  overflow-y: auto;
}

.legal a {
  display: block;
}

/* Cards*/

.main-services {
  position: relative;
  margin: 50px 10px 40px 10px;
  padding: 50px 15px 32px 15px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e5efff;
  background-color: #fff;
  border-radius: 8px 8px;
  box-shadow: 12px 14px 0 #e5edfa;
  transition: all 1s;
}

.main-services p {
  font-size: 1.2em;
}

.main-services h3 {
  font-size: 1.5em;
}

.main-services img {
  margin: 0 auto;
}

.main-services:hover {
  border: 1px solid #89c7f7;
  transform: scale(1.025);
  transition: all 1s;
}

.main-services img,
.main-services p,
.main-services h3:first-of-type,
.main-services a {
  margin-top: var(--space-s);
}

.services-wrapper {
  position: relative;
  z-index: 999;
  overflow: hidden;
}

.services-wrapper::before {
  background-image: radial-gradient(#e2ecf9 15%, transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: "";
  width: 800px;
  height: 225px;
  left: 0;
  margin-left: -412px;
  top: 0;
  margin-top: 5px;
  z-index: -1;
}

.services-wrapper::after {
  background-image: radial-gradient(#e2ecf9 15%, transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: "";
  width: 800px;
  height: 200px;
  left: 50%;
  margin-left: 195px;
  bottom: 0;
  margin-bottom: 50px;
  z-index: -1;
}


/*Oportunities*/

.oportunities-container {
  margin-top: var(--space-xl);
}

.oportunities-container h1 {
  font-size: 2.5em;
  margin-bottom: var(--space-xl);
}

.oportunity {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-xxxl);
  align-items: center;
  padding: var(--space-xxxl);
  background-color: #fff;
  border: 2px solid #e5efff;;
  box-shadow: var(--box-shadow-base);
}

.oportunity h2 {
  font-size: 1.8em;
  margin-bottom: var(--space-base);
}

.oportunity p {
  font-size: 1.2em;
  margin-bottom: var(--space-base);
}


.oportunity-left-side {
  text-align: center;
  flex: 1;
}

.oportunity-left-side img {
  margin: 0 auto;
}

.oportunity-right-side {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
}

/* Media Queries */

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}

@media (max-width: 1000px) {
  .col3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%
  }

  .main-services {
    margin-top: 0px;
  }

  .oportunities-container {
    padding: 0 var(--space-xl);
  }

}

@media (max-width: 650px) {
  .oportunity-left-side,
  .oportunity-right-side {
    flex: 1;  
  }

  .oportunity {
    padding: var(--space-l);
    flex-direction: column;
  }

  .oportunity img {
    margin-bottom: var(--space-base);
  }

  .oportunity h2 {
    text-align: center;
  }

}

@media (max-width: 480px) {
  .main-menu ul {
    text-align: center;
  }

  .main-menu ul li {
    width: 100%;
  }

  .hero {
    min-height: 300px;
    padding: 0 var(--space-xs);
  }

  .hero h3 {
    font-size: 2em;
    margin-bottom: var(--space-s)
  }

  .hero p {
    font-size: 1.3em;
  }

  .section-oportunities  {
    padding-top: var(--space-l);
  }

  .section-oportunities h2 {
    font-size: 2em;
  }

  
  .services-wrapper {
    margin-top: var(--space-l);
  }

  .section-quote {
    margin-top: 0;
  }
  .section-quote i {
    font-size: 2em;
  }

  .quote-wrapper p {
    font-size: 2em;
  }
  
  .author-wrapper {
    padding-top: var(--space-base);
    padding-right: var(--space-base);
  }


}