@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
}

p, h1, h2, h3 {
  margin: 0;
}


:root {
  --color-primary: #0f7f7b;;
  --color-black: rgba(0, 0, 0, 0.5);
  --box-shadow-base: 0 5px 25px rgba(0, 0, 0, 0.1);

  --space-xs: 8px;
  --space-s: 12px;
  --space-base: 16px;
  --space-m: 20px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;
  --space-xxxl: 48px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  color: #071e55;;
  margin: 0;
  background-color: #efefef;
  font-family: 'Dosis', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 6em;
}

h3 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  color: #fff;
}

.red {
  background-color: darkred;
}

.bg-grey {
  background-color: rgb(105, 103, 103);
}

.bg-green {
  background-color: #0f7f7b;
}

.hide {
  display: none !important;
}

.center-container {
  max-width: 960px;
  margin: 0 auto;
}



.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu {
  background-color: var(--color-primary);
  color: #fff;
}

.main-menu nav {
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3em;
}

.main-menu ul {
  display: flex;
  justify-content: space-around;
  margin: 0;

}

.main-menu ul li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

.main-menu ul li a:hover{
  text-decoration: underline;
}

.hero {
  background-image: url("../img/hero.png");
  background-size: cover;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-text-container::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: 6px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;

}

.section-oportunities {
  margin-top: var(--space-xxxl);
  text-align: center;
}

footer {
  min-height: 50px;
  text-align: center;
  margin-top: 16px;
  font-size: 0.6em;
}


footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  font-size: 1em;
}

footer ul li a:hover {
  text-decoration: underline;
}


/* Politica de Privacidade*/
.legal {
    margin-top: 20px;

}

.legal section {
  text-align: left; 
  font-size: 0.7em
}

.legal .question-box {
  padding: 10px 40px;
  padding-bottom: 30px;
  max-height: 750px;
  overflow-y: auto;
}

.legal a {
  display: block;
}

/* Ideias */

.main-services {
  position: relative;
  margin: 50px 10px 40px 10px;
  padding: 50px 15px 32px 15px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e5efff;
  background-color: #fff;
  border-radius: 8px 8px;
  box-shadow: 12px 14px 0 #e5edfa;
  transition: all 1s;
}

.services-wrapper {
  position: relative;
  z-index: 999;
  overflow: hidden;
}
.services-wrapper::before {
    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);
    background-size: 20px 20px;
    position: absolute;
    content: "";
    width: 800px;
    height: 225px;
    left: 0;
    margin-left: -412px;
    top: 0;
    margin-top: 5px;
    z-index: -1;
}

.services-wrapper::after {
  background-image: radial-gradient(#e2ecf9 15%,transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: "";
  width: 800px;
  height: 200px;
  left: 50%;
  margin-left: 195px;
  bottom: 0;
  margin-bottom: 50px;
  z-index: -1;
}
